<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <div> <strong>Enpoints:</strong></div>
      <br>
      <div><input type="text" placeholder="auth header ie: 'bearer [jwt]"></div>
      <br>
      <a href="/tokenvortex/accounts/">/tokenvortex/accounts</a><br>
      <a href="/tokenvortex/contracts/">/tokenvortex/contracts</a><br>
      <a href="/tokenvortex/transactions/">/tokenvortex/transfers</a><br>
      <a href="/tokenvortex/transactions/">/tokenvortex/transactions</a><br>
    </div>
  </body>
</html>
